.box{
  width: 100%;
  margin-top: 40px;
}
.box .search-box{
  position: relative;
  height: 50px;
  max-width: 380px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0,0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}
.search-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border:none;
  padding-left: 20px;
  font-size: 18px;
}
.search-box .icon{
  position: absolute;
  right: -2px;
  top:0;
  width: 50px;
  background: #971829;
  height: 100%;
  text-align: center;
  line-height: 50px;

  color: white;
  font-size: 20px;
  border-radius: px;
}
.ic :hover{
  transform: scale(1.04);box-shadow: 0 4px 14px 0 #0005;

}
.icon :hover{
  transform: scale(1.0);box-shadow: 0 1px 0px 0 #971829;;
}
.groups{
  margin: 0 auto;width: 780px;padding: 10px;height: auto;
}
.groups li{
  position: relative;list-style: none;background: #ffffff;border-radius: 5px;
  box-shadow: 0 3px 4px 0 #0001;overflow: hidden;margin-bottom: 30px;transition: all 0.3s;
}
.groups li:hover{
  transform: scale(1.04);box-shadow: 0 4px 14px 0 #0005;
}
.groups .card{overflow: hidden;display: block;background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.groups .body .title{
  height: 60px;
  overflow: hidden;
  font-size: 24px;
}
.groups .body .address{
  height: 45px;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 17px;
}
.groups .footer .settings{
  position: absolute;
  bottom: 160px;
  right: 25px;
  line-height: 2.2;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.3s;
  height: 30px;
  width: 30px;
}
.groups .footer .settings:hover{
  box-shadow: 0 3px 8px 0 rgba(250, 241, 241, 0.333);
  background: transparent;
  right: 15px;
}
.groups .footer .views{
  display: block;
  font-size: 12px;
  margin-top: 40px;
}
@media screen and (max-width:780px){.groups{    width: 96%;}
  .groups li:hover{    transform: none;    box-shadow: none;}
}
@media screen and (max-width:560px){.groups .image-session{    float: none;    margin-right: 0;}
  .groups .image-session .image{width: 100%;}
}
.t{
  color: rgb(160, 33, 33);
}
.t2{
  margin: 7px auto;
  padding: 2px;
}
h4{
  margin: 0;
}
h3{
  margin: 0;
}
h5{
  margin: 0;
}
button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}



