<div class="container1">

    <form action="">
     <div class="summary" style="display: flex;">
        <div class="title">
        <h2 style="margin-bottom: 30px;">Order summary</h2>
        <div style="display: flex; margin-bottom: 10px; ">
            <h4 style="margin-right: 150px;">Books</h4>
            <span style="font-size: large;">{{amount}}</span>
        </div>
        <div style="display: flex;">
            <h3 style="margin-right: 110px;">Total</h3>
            <span style="font-size: large;">{{cost}} EGP</span>
        </div>
    </div>
    <div class="img">
    <img src="assets/no.png" alt="">
    </div>
    </div>
        <div class="inputBox">
            <span>card number</span>
            <input type="text" maxlength="16" class="card-number-input" id="cardNum">
            <label for="" *ngIf="inValidCard" style="color: rgb(143, 6, 6);">Please enter valid card number</label>
        </div>
      
        <div class="flexbox">
            
            <div class="inputBox">
               
                <span>expiration yy</span>
                <input type="date" id="year">
                <label for="" *ngIf="inValidYear" style="color: rgb(143, 6, 6);">Please choose the expiry date</label>
            </div>

        </div>
        <input type="submit" value="submit" (click)="submit();" class="submit-btn">
    </form>

</div>    