

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="box">
  
  <div class="search-box">
    <input type="text" placeholder="Title" id="title">
  </div>
  <div class="search-box" >
    <input type="text" placeholder="Publisher" id="publisher">
  </div>
  <div class="search-box">
    <input type="text" placeholder="Author" id="author">
  </div>
  <div class="search-box">
    <input type="text" placeholder="ISBN" id="isbn">
  </div>
  <div class="search-box">
    <select class="la" name="" id="category">
      <option selected disabled>Category</option>
      <option value="Science">Science</option>
      <option value="Religion">Religion</option>
      <option value="Art">Art</option>
      <option value="History">History</option>
      <option value="Geography">Geography</option>
      
  
   </select>
  </div>
 
  <div class="search-box">
 
   
    
    <div class="ic">
    <button (click)="search();" class="icon" mat-icon-button><mat-icon >search</mat-icon></button>
  </div>
    
  </div>
</div>

<div class="cards">
  <div class="card" *ngFor="let item of books">
    <li>
    <img class="card__image" src={{item.imageURL}} alt="">
    <div class="ribbon-2">{{item.category}} </div>

</li>
    <div class="card__content">
        <div class="title" style="display:flex;     justify-content: center;">
        <h4>{{item.title}} </h4>
        
        </div>
      <div class="authors" >
        
        
        <h5>Author: <a *ngFor="let e of item.authors"> {{e}},</a></h5>
         
        <h5>Publisher: <a> {{item.publisher}}</a>  </h5>
        <h5>Published Year: {{item.pubYear}}</h5>
        <h5>Stock: {{item.stock}}</h5>
        <h5>threshold: {{item.threshold}}</h5>
      </div>
     
    </div>
    <div class="card__info">
        <div class="co">
      <div style="font-size:medium;">
       {{item.price}}  LE
      </div>
    
      </div>
      <div>
        <button mat-raised-button (click)="addToCart(item);" style="padding: 0px;"><mat-icon style="padding: 0px;"> local_grocery_store</mat-icon></button>
        
      </div>
      <button mat-raised-button (click)="order()" *ngIf="isManager()" style="margin-left:2px;">order</button>
    </div>
   
  </div>
  
  
</div>
<div class="paging">
  <button mat-raised-button class="previous" (click)="previousPage()" >&laquo; Previous</button>
  
  <h2 style="color:rgb(0, 0, 0)" >{{currentPage}}</h2>
  <button mat-raised-button class="next" (click)="nextPage()">Next &raquo;</button>
  
</div>