

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="box">
  <select class="la" name="" id="sort">
    <option selected disabled>Sort by</option>
    <option value="price">Price</option>
    <option value="date">Date</option>
    <option value="area">Area</option>

 </select>
  <div class="search-box">
    <input type="text" placeholder="Type here...">
    <div class="ic">
    <button  class="icon" mat-icon-button><mat-icon >search</mat-icon></button>
  </div>
    
  </div>
</div>

<div class="cards">
  <div class="card" *ngFor="let item of books">
    <li>
    <img class="card__image" src={{item.imageURL}} alt="">
    <div class="ribbon-2">{{item.category}} </div>

</li>
    <div class="card__content">
        <div class="title" style="display:flex;     justify-content: center;">
        <h4>{{item.title}} </h4>
        
        </div>
      <div class="authors" >
        
        
        <h5>Author: <a *ngFor="let e of item.authors"> {{e}},</a></h5>
         
        <h5>Publisher: <a> {{item.publisher}}</a>  </h5>
        <h5>{{item.pubYear}}</h5>
      </div>
     
    </div>
    <div class="card__info">
        <div class="co">
      <div style="font-size:medium;">
       {{item.price}}  LE
      </div>
    
      </div>
      <div>
        <button mat-raised-button (click)="addToCart(item);" style="padding: 0px;"><mat-icon style="padding: 0px;"> local_grocery_store</mat-icon></button>
        
      </div>
    </div>
  </div>
  
  
</div>